div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Test

.container
  .row
    .col-lg-12
      ul
        li(ng-repeat='thing in awesomeThings')
          input(type="text", ng-model="thing.name", ng-change="updateThing(thing)")
          input(type="text", ng-model="thing.price", ng-change="updateThing(thing)")
          input.form-control(type="text", datepicker-popup="dd MMM yyyy", init-date="Date.now()",
            ng-model="thing.added", is-open="datepickerOpened", ng-click="datepickerOpened=true", ng-change="updateThing(thing)")
          input(type="text", ng-model="thing.url", ng-change="updateThing(thing)")
          input(type="text", ng-model="thing.img", ng-change="updateThing(thing)")
          button.close(type="button", ng-click="deleteThing(thing)") ×
